@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welc111ome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Weafaefasefb apps with ASP.NET Core</a>.</p>
</div>
