@{
	ViewData["Title"] = "Home Page";
}

<div>
	<div class="text-center">
		<br />
		<br />
		<h1 class="display-4 text-success bg-gradient">Bulky Book</h1>
		<p class="text-light pb-">An ASP.NET Core 6 MVC project</p>

	</div>
	<div class="mt-5">
		<p class="text-light text-break text-center text-body">
			A simple <span class="text-black bg-light">MVC CRUD</span> (creat/read/update/delete) application<br />
			to ensure the leraning
		</p>
	</div>
	<div class="footer text-center mt-5">
		<p class="">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Weafaefasefb apps with ASP.NET Core</a>.</p>
	</div>
</div>