@model BulkyBook.Models.ViewModels.ProductVm
@{
	ViewData["Title"] = "ProductView";
}
<style>
	.img-view{
		height:300px; 
		object-fit:scale-down;
	}
</style>

<form method="post" asp-action="ProductView" enctype="multipart/form-data">
	<div class="row  border-bottom">
		<div class="row pb-1 mt-4">
			<h2 class="text-success">Product View</h2>
			<input asp-for="Product.Id" hidden/>
			<hr />
		</div>
		<div class="col-10">
			<div class="p-3 mt-2 mb-4 row">
				<div class="mb-3">
					<label asp-for="Product.Title"></label>
					<input asp-for="Product.Title" class="form-control" disabled/>
				</div>
				<div class="mb-3">
					<label asp-for="Product.Description"></label>
					<textarea asp-for="Product.Description" rows="3" class="form-control" disabled></textarea>
				</div>
				<div class="mb-3 col-6">
					<label asp-for="Product.ISBN"></label>
					<input asp-for="Product.ISBN" class="form-control" disabled/>
				</div>
				<div class="mb-3 col-6">
					<label asp-for="Product.Author"></label>
					<input asp-for="Product.Author" class="form-control" disabled/>
				</div>
				<div class="mb-3 col-6">
					<label asp-for="Product.ListPrice"></label>
					<input asp-for="Product.ListPrice" class="form-control" disabled/>
				</div>
				<div class="mb-3 col-6">
					<label asp-for="Product.Price"></label>
					<input asp-for="Product.Price" class="form-control" disabled/>
				</div>
				<div class="mb-3 col-6">
					<label asp-for="Product.Price50"></label>
					<input asp-for="Product.Price50" class="form-control" disabled/>
				</div>
				<div class="mb-3 col-6">
					<label asp-for="Product.Price100"></label>
					<input asp-for="Product.Price100" class="form-control" disabled/>
				</div>
				<div class="mb-3 col-6">
					<label asp-for="Product.CategoryId"></label>
					<select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-control" disabled>
						<option disabled selected>--Select Category--</option>
					</select>
				</div>
				<div class="mb-3 col-6">
					<label asp-for="Product.CoverTypeId"></label>
					<select asp-for="Product.CoverTypeId" asp-items="@Model.CoverTypeList" class="form-control" disabled>
						<option deseabled selected>--Select Coter Type--</option>
					</select>
				</div>

				<div class="mb-3">
					<a asp-controller="Product" asp-action="Upsert" asp-route-id="@Model.Product.Id" class="btn btn-outline-primary btn-lg col-6 me-1" style="width:150px; line-height: 0.7;">Update this product</a>
					<a asp-controller="Product" asp-action="index" class="btn btn-outline-light btn-lg col-6 me-1" style="width:150px">Back to list</a>
					<a class="btn btn-danger btn-lg me-1" style="width:150px; line-height: 1.4;" onclick="Delete('/Admin/Product/DeleteApi/@Model.Product.Id')">Delete</a>
				</div>
			</div>
		</div>
		<div class="col-2 p-3 mb-4 row">
			<div class="mt-3">
			<label class="mb-2">Image Preview</label>
				<img src=@Model.Product.ImageUrl width="100%" style="border-radius:5px; border:1px solid white">		
				<input asp-for="Product.ImageUrl" type="text" name="oldFile" id="oldFileHidden" hidden/>	
			</div>
		</div>	
	</div>
</form>

