@model Company
@{
	ViewData["Title"] = "Upsert";
}

<form method="post" asp-action="Upsert" enctype="multipart/form-data" id="form">
	@if (Model.Id == 0) @*CREATE page*@
	{
		<div class="border-bottom p-3 mt-4 mb-4 row">
			<div class="row pb-2">
				<h2 class="text-success">Create Company</h2>
				<input asp-for="Id" id="id" hidden/>
				<hr />
			</div>
			<div asp-validation-summary="All" class="text-danger"></div>
			<div class="mb-3">
				<label asp-for="Name"></label>
				<input asp-for="Name" class="form-control"/>
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="PhoneNumber"></label>
				<input asp-for="PhoneNumber" rows="3" class="form-control"/>
				<span asp-validation-for="PhoneNumber" class="text-danger"></span> 
			</div>
			<div class="mb-3 col-6">
				<label asp-for="StreetAddress"></label>
				<input asp-for="StreetAddress" class="form-control"/>
				<span asp-validation-for="StreetAddress" class="text-danger"></span>
			</div>
			<div class="mb-3 col-6">
				<label asp-for="City"></label>
				<input asp-for="City" class="form-control"/>
				<span asp-validation-for="City" class="text-danger"></span>
			</div>
			<div class="mb-3 col-6">
				<label asp-for="State"></label>
				<input asp-for="State" class="form-control"/>
				<span asp-validation-for="State" class="text-danger"></span>
			</div>
			<div class="mb-3 col-6">
				<label asp-for="PostalCode"></label>
				<input asp-for="PostalCode" class="form-control"/>
				<span asp-validation-for="PostalCode" class="text-danger"></span>
			</div>

			<div class="col-12">
				<button type="submit" class="btn btn-primary btn-lg col-6" style="width:150px" id="botaoUp">Create</button>
				<a asp-controller="Company" asp-action="Index" 
					class="btn btn-outline-light btn-lg col-6" style="width:150px">Back to list</a>
			</div>
		</div>
	}
	else @*UPDATE page*@
	{
		<div class="row  border-bottom">
			<div class="row pb-1 mt-4">
				<h2 class="text-success">Edit Product</h2>
				<input asp-for="Id" id="id" hidden/>
				<hr />
			</div>
			<div class="col-10">
				<div class="p-3 mt-2 mb-4 row">
								<div class="mb-3">
				<label asp-for="Name"></label>
				<input asp-for="Name" class="form-control"/>
				<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="PhoneNumber"></label>
					<input asp-for="PhoneNumber" rows="3" class="form-control"/>
					<span asp-validation-for="PhoneNumber" class="text-danger"></span> 
				</div>
				<div class="mb-3 col-6">
					<label asp-for="StreetAddress"></label>
					<input asp-for="StreetAddress" class="form-control"/>
					<span asp-validation-for="StreetAddress" class="text-danger"></span>
				</div>
				<div class="mb-3 col-6">
					<label asp-for="City"></label>
					<input asp-for="City" class="form-control"/>
					<span asp-validation-for="City" class="text-danger"></span>
				</div>
				<div class="mb-3 col-6">
					<label asp-for="State"></label>
					<input asp-for="State" class="form-control"/>
					<span asp-validation-for="State" class="text-danger"></span>
				</div>
				<div class="mb-3 col-6">
					<label asp-for="PostalCode"></label>
					<input asp-for="PostalCode" class="form-control"/>
					<span asp-validation-for="PostalCode" class="text-danger"></span>
				</div>

					<div class="mb-3">
						<button type="submit" class="btn btn-primary btn-lg col-6" style="width:150px" id="botaoUp">Update</button>
						<a asp-controller="Company" asp-action="Index" class="btn btn-outline-light btn-lg col-6" style="width:150px">Back to list</a>
					</div>
				</div>
			</div>
		</div>
	}
</form>

@section Scripts{
	@{
	<partial name="_ValidationScriptsPartial" />
	}
}

						
				
